div, img {
  -webkit-user-select: none;
}

body {
  margin: 0px;
  font: 12px "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
  width: 300px;
}

#search {
  border: 1px solid #abc;
  padding: 2px 5px;     /* top/bottom, side */
  margin: 4px 4px 2px;  /* top, side, bottom */
  width: calc(100% - 20px); /* 20 = 2 * (1 + 5 +  4) */
}

#search:focus {
  outline: 2px solid #adf;
  -webkit-box-shadow: 0 0 3px #adf;
}

#search::placeholder {
  font-style: italic;
}

.item {
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0px 4px;
  padding: 3px 0px;
  width: calc(100% - 10px);  /* 10 = 2 * (1 + 4); */

  float: left;
  clear: both;
  cursor: pointer;
  background: #fff;
  -webkit-transition: .2s ease-out;
  -webkit-transition-property: background-color, border-color;
}

.item:hover, .item:focus {
  background: #def;
  border-color: #bdf;
  outline: 0;
}

.item:active {
  border-color: #69f;
}

.selected {
  background: #5bf !important;
  border-color: #3af !important;
  color: #fff !important;
}

.selected:hover, .selected:focus {
  background: #3af !important;
  border-color: #19f !important;
}

img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.title {
  width: calc(100% - 10px - 16px - 5px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.item:hover .title {
  width: calc(100% - 10px - 16px - 5px - 12px);
}

.close {
  text-align: right;
  width: 12px;
  font: bold 12px verdana, sans-serif;
  display: none;
  vertical-align: middle;
}

.item:hover .close {
  display: inline-block;
}

.item .close {
  color: #567;
}

.item .close:hover {
  color: #000;
}

.selected .title {
  font-weight: bold;
}

.selected .close {
  color: #def;
}

.selected .close:hover {
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar:vertical {
  border-color: transparent;
  background: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  -webkit-border-image: url(scrollbar.png) 14 0 15 0;
  border-color: transparent;
  border-width: 15px 0;
  min-height: 20px;
}
